body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    background-color: rgb(139, 108, 108);
}

ul {
    list-style-type: none;
    padding: 0;
}
li {
    background: #f4f4f4;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button {
    background-color: rgb(107, 16, 9);
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}